classes/
classes/**

functionalTesting/
functionalTesting/**

maven-archiver/
maven-archiver/**

surefire-reports/
surefire-reports/**

test-classes/
test-classes/**

update-site/
update-site/**

**mule-module-logger-**
UpdateSite.zip
